a {
    color: black;
    text-decoration: none;
}
.saw {
  color: gray;
}
#active {
  color: red;
}
h1 {
  font-size: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid green;
  padding: 10px;
  margin-top: 20px;
  margin-left: 4px;
  display: block;
}